@model IEnumerable<MusicFestivalViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<section class="text-center">
    <h1 class="display-4">Music Festivals</h1>

    <div>
        @foreach (var musicFestival in Model)
        {
            <p>Music Festival Name: @musicFestival.Name</p>

            @foreach (var musicBand in musicFestival.Bands)
            {
                <p>
                    Music Band Name: @musicBand.Name
                </p>
            }
        }
    </div>
</section>
